body{
    background-color: black;
    color: white;
}

.container-fluid{
    margin-top: 10px;
    width: 300px;
    background-color: rgb(128, 143, 211);
    border-radius: 5px;
    color: white;
    margin-left: 50px;
    
}

.mb-3{
    height: 60px;

}

.btn{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}
