body{
    background-color: rgb(47, 48, 90);
}

.container{
    margin-top: 10px;
    width: 300px;
    background-color: rgb(90, 115, 230);
    border-radius: 5px;
    color: white;
    margin-left: 50px;
    
}

.mb-3{
    height: 60px;

}

.btn{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}
