.container{
    max-width: 300px;
    background-color: rgb(252, 39, 39);
    margin-top: 10px;
    border-radius: 5px;
    color: white;
}

.mb-3{
    height: 60px;

}

.but{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: rgb(20, 197, 20);
    color: white;
}

.tr{
    background-color: rgb(252, 39, 39);
    color: white;
    font-weight: bold;
}
